// ===================================
// ============================ colors
$white: #F2F2F2;
$black: #2E2E2E;
$red: #AD0000;
$green: #06BA00;
$blue: #2179DE;
$primaryColor: #35557A;
$secondaryColor: #DB16B7;


// ===================================
// ===================== media queries
$size-phablet: 450px;
$size-tablet-portrait: 650px;
$size-tablet-landscape: 900px;
$size-laptop: 1200px;
